.Card-container {
    height: 100%;

}
.Card-content{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.Card-subheader {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}